html,
body {
    min-height: 100%;
}

body,
div,
form,
input,
textarea,
label {
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 18px;
    color: #666;
}


.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 100%;
    padding: 35px;
    border-radius: 6px;
    background: #eee;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}

input,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    padding: 5px;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item:hover,
.question label:hover,
input:hover::placeholder {
    color: #000;
}

.item input:hover,
.item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #aa1409;
    color: #a3a1a1;
}

.item {
    position: relative;
    margin: 10px 0;
}

input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}

.red {
    color: red;
}

.question span {
    margin-left: 40px;
}

label.radio:before {
    /*content: "";*/
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

input[type=radio]:checked+label:before,
label.radio:hover:before {
    border: 2px solid #aa1409;
}

label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #aa1409;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #006400;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #790e06;
}

.btn-block-cancel {
    margin-top: 10px;
    text-align: center;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #006400;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #790e06;
}

@media (min-width: 568px) {

    .name-item,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input,
    .name-item div {
        width: calc(50% - 20px);
    }
}



    /* The container */
    .checkbox_container {
        display: block;
        position: relative;
        padding-left: 80px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .checkbox_container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox_container input:checked~.checkmark {
        background-color: #fff;
        border: 2px solid red;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox_container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox_container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid red;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .checkbox_container input~.checkmark {
        background-color: #fff; 
        border:3px solid rgb(148, 147, 147)
   }
    
    
