{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h1 class="User Posts">
  <strong> Welcome To Posts Page </strong>
</h1>
{% endif %}

{% if not current_user.is_authenticated %}
<h1 class="User Posts">
    <strong> Please Login to View your Posts </strong>
</h1>
{% endif %}


{% if current_user.is_authenticated %}
<table id="data" class="table table-striped", align="center">
    {% if all_posts %}
        <button>
            <a href="{{ url_for('posts.create_post') }}">Create New Post</a>
        </button>
        <thead>
            <th>
                <strong>Title</strong>
            </th>

            <th>
                <strong>Description</strong>
            </th>
            
            <th>
                <strong>Datetime</strong>
            </th>

            <th>
                <strong>User_ID</strong>
            </th>
        </thead>

    <tbody>

        {% for single_post in all_posts %}
        <tr>
            <td>
                {{single_post.title}}
            </td>

            <td>
                {{single_post.description}}
            </td>

            <td>
                {{single_post.created_at}}
            </td>

            <td>
                {{single_post.user_id}}
            </td>

            <td>
                <form action="{{ url_for('posts.delete_post') }}" method=GET class=delete-movie>
                    <input type=hidden value="{{ single_post.id }}" name=id />
                    <input type=submit value="Delete"/>
                    
                </form>
            </td>

        </tr>
        {% endfor %}

    </tbody>
    
    {% else %}
        <h2>
            <div>
                No Posts Found
            </div>
            <button>
                <a href="{{ url_for('posts.create_post') }}">Create New Post</a>
            </button>
        </h2>

    {% endif %}

{% endif %}
</table>



{% endblock %}